<!DOCTYPE html>
<html lang="en">

<head>
    <title>จัดห้องสอบ</title>
    <!-- logo title -->
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">

    <meta charset="UTF-8">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png"> -->
    <link rel="stylesheet" href="./css/style.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.7.4/css/bulma.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href="../css/prism.css">
    <link rel="stylesheet" href="../css/cheatsheet.css">

</head>

<body>
    <!-- หัวเว็บ -->
    <section class="hero is-info">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-96x96">
                                    <br><img src="/img/logo.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <h1 class="title">
                                            ระบบจัดการการสอบ
                                        </h1>
                                        <h2 class="subtitle">
                                            มหาวิทยาลัยบูรพา
                                        </h2><br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- ปุ่มออกจากระบบ -->
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/login">
                                ออกจากระบบ
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- body -->
    <section class="section has-background-light">
        <div class="container">
            <div class="columns">

                <!-- box -->
                <div class="column is-12">
                    <div class="content is-medium">
                        <div class="box">
                            <h4 id="const" class="title is-3 has-text-centered">จัดห้องสอบ</h4>
                            <div class="container">
                                <form method="POST" action="/addExams/addroom/<%= exams._id %>">
                                    <div class="columns">
                                        <div class="column is-11">
                                            <div class="field is-horizontal">
                                                <div class="field-body is-normal">
                                                    <p class="subtitle is-5">วิชา: <%= exams.nameSubject %></p>
                                                </div>
                                                <div class="field-body is-normal">
                                                    <p class="subtitle is-5">รหัสวิชา: <%= exams.numSubject %></p>
                                                </div>
                                            </div>
                                            <div class="field is-horizontal">
                                                <div class="field-body is-normal">
                                                    <p class="subtitle is-5">วันที่สอบ: <%= exams.date %></p>
                                                </div>
                                                <div class="field-body is-normal">
                                                    <p class="subtitle is-5">เวลาสอบ:
                                                        <%= exams.timeF + " - " + exams.timeL %> น.</p>
                                                </div>
                                            </div>
                                            <!-- <div class="field is-horizontal">
                                                <div class="field-body is-normal">
                                                    <p class="subtitle is-5">จำนวนนิสิตทั้งหมด: </p>
                                                </div>
                                                <div class="field-body is-normal">
                                                    <p class="subtitle is-5">จำนวนนิสิตที่ยังไม่มีห้องสอบ: </p>
                                                </div>
                                            </div> -->

                                            <!-- table -->
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="card events-card">
                                                        <header class="card-header">
                                                            <p class="card-header-title">
                                                                ตารางห้องสอบ
                                                            </p>
                                                        </header>
                                                        <div class="card-table">
                                                            <div class="content">
                                                                <!-- <form method="GET"> -->
                                                                <table class="table is-narrow is-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="numTH">ลำดับ</th>
                                                                            <th class="dateTH">วันที่</th>
                                                                            <th class="timeTH">เวลา</th>
                                                                            <th class="numSubTH">ตึก-ห้อง</th>
                                                                            <th class="nameSubTH">กลุ่มเรียน</th>
                                                                            <th class="nameSubTH">ผู้คุมสอบ</th>
                                                                            <th class="actionTH">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% if(roomExams.length === 0){ %>
                                                                        <% } else { %>
                                                                        <% for(var i=0; i < roomExams.length; i++) { %>
                                                                        <tr>
                                                                            <td class="numTH"><%= i+1 %></td>
                                                                            <td class="dateTH"><%= roomExams[i].date %>
                                                                            </td>
                                                                            <td class="timeTH"><%= roomExams[i].timeF %>
                                                                                - <%= roomExams[i].timeL %></td>
                                                                            <td class="numSubTH">
                                                                                <%= roomExams[i].build + "-" + roomExams[i].room %>
                                                                            </td>
                                                                            <td class="nameSubTH">
                                                                                <%= roomExams[i].group %></td>
                                                                            <td class="nameSubTH">
                                                                                <%= roomExams[i].examiner %></td>
                                                                            <td class="actionTH">
                                                                                <div class="field-body">
                                                                                    <input type="submit"
                                                                                        class="button is-warning is-outlined"
                                                                                        value="ดูแผ่นผัง">
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                        <% } %>
                                                                    </tbody>
                                                                </table>
                                                                <!-- </form> -->
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- table -->
                                            <div class="columns">
                                                <div class="column">
                                                    <div class="card events-card">
                                                        <header class="card-header">
                                                            <p class="card-header-title">
                                                                เพิ่มห้องสอบ
                                                            </p>
                                                        </header>
                                                        <div class="card-table">
                                                            <div class="content">
                                                                <form method="GET">
                                                                    <table class="table is-narrow is-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="numTH">วันที่</th>
                                                                                <th class="dateTH">เวลา</th>
                                                                                <th class="timeTH">ตึก</th>
                                                                                <th class="numSubTH">ห้อง</th>
                                                                                <th class="nameSubTH">กลุ่มเรียน</th>
                                                                                <th class="nameSubTH">ผู้คุมสอบ</th>
                                                                                <th class="actionTH">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                            <tr>
                                                                                <td class="numTH"><input
                                                                                        class="input is-medium "
                                                                                        type="date" name="date"
                                                                                        required=""
                                                                                        placeholder="mm-dd-yyyyy"></td>
                                                                                <td class="dateTH">
                                                                                    <div class="field is-one-fifth">
                                                                                        <p class="control">
                                                                                            <input
                                                                                                class="input is-medium is-1"
                                                                                                type="time" required=""
                                                                                                name="timeF"
                                                                                                placeholder="00.00">
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="field">
                                                                                        <p class="control">
                                                                                            &ensp; _ &ensp;
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="field">
                                                                                        <p class="control">
                                                                                            <input
                                                                                                class="input is-medium "
                                                                                                type="time" required=""
                                                                                                name="timeL"
                                                                                                placeholder="00.00">
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="timeTH">
                                                                                    <div class="select">
                                                                                        <select required=""
                                                                                            name="build">
                                                                                            <option disabled selected>
                                                                                                เลือกตึก</option>
                                                                                            <% for(var i=0; i < build.length; i++) { %>
                                                                                            <option
                                                                                                value="<%= build[i]._id %>">
                                                                                                <%= build[i].name %>
                                                                                            </option>
                                                                                            <% } %>
                                                                                        </select>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="numSubTH">
                                                                                    <div class="select">
                                                                                        <select required="" name="room">
                                                                                            <option disabled selected>
                                                                                                เลือกห้อง</option>
                                                                                            <% for(var i=0; i < room.length; i++) { %>
                                                                                            <option
                                                                                                value="<%= room[i]._id %>">
                                                                                                <%= room[i].roomname %>
                                                                                            </option>
                                                                                            <% } %>
                                                                                        </select>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="nameSubTH">
                                                                                    <div class="select">
                                                                                        <select required=""
                                                                                            name="group">
                                                                                            <option disabled selected>
                                                                                                เลือกกลุ่มเรียน</option>
                                                                                            <% for(var i=0; i < group.length; i++) { %>
                                                                                            <option
                                                                                                value="<%= group[i]._id %>">
                                                                                                <%= group[i].groupSub %>
                                                                                            </option>
                                                                                            <% } %>
                                                                                        </select>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="nameSubTH">
                                                                                    <div class="select">
                                                                                        <select required=""
                                                                                            name="teacher">
                                                                                            <option disabled selected>
                                                                                                เลือกผู้คุมสอบ</option>
                                                                                            <% for(var i=0; i < teacher.length; i++) { %>
                                                                                            <option
                                                                                                value="<%= teacher[i]._id %>">
                                                                                                <%= teacher[i].name %>
                                                                                            </option>
                                                                                            <% } %>

                                                                                        </select>
                                                                                    </div>
                                                                                    <!-- <input type="submit"
                                                                                        class="button is-warning"
                                                                                        value="+"> -->

                                                                                </td>
                                                                                <td class="actionTH">
                                                                                    <div class="field-body">
                                                                                        <input type="submit"
                                                                                            class="button is-success"
                                                                                            value="เพิ่ม">
                                                                                    </div>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </form>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="card-content level-right">
                                                <div class="content">
                                                    <a class="button is-danger is-medium" href="/manageExams">กลับ</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <script async type="text/javascript" src="../js/bulma.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
    <script>
        window.addEventListener('resize', () => {
            const divs = document.querySelectorAll(".menu-list");
            if (window.innerWidth < 768) {
                divs.forEach(div => div.classList.add("tags"));
            }
            else {
                divs.forEach(div => div.classList.remove("tags"));
            }
        });
    </script>
</body>

</html>